<section id="blog-container" class="m-3 green lighten-4">
    <a href="/{{id}}">
        <div class="bold-t brown darken-4 green-text text-lighten-4">
            <span class="blog">{{title}}</span>
        </div>
        <div class="green lighten-4 brown-text text-darken-4">
            <span class="blog">{{text}}</span>
        </div>
    </a>
</section>