<section class="m-3 card-panel brown darken-4">
    <a href="/{{id}}">
        <header class="brown darken-4">{{title}}</header>
        <p class="card-panel green lighten-4">{{text}}</p>
    </a>
</section>