<main>
    <ul class="collection card-panel brown darken-4">
      <li class="collection-item card-panel brown darken-4">{{title}}</li>
      <li class="collection-item card-panel green lighten-4">{{text}}</li>
    </ul>
</main>