<main>
    <div>
      {{!-- <li class="collection-item card-panel brown darken-4">{{title}}</li>
      <li class="collection-item card-panel green lighten-4">{{text}}</li> --}}
      <p>
        {{#each posts as |post|}}
        {{> blog-details}}
        {{/each}}
      </p>
    </div>
</main>