{{!-- HTML forms --}}
<main>
    <div class="card-panel teal lighten-2" class="login">
        <form action="/action_page.php">
            <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
                <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</main>
<script src="/public/js/login.js"></script>