header {
    background-color: #302103;
}

.bold-t {
    font-family: 'Lato', sans-serif;
}

.blog {
    margin-left: 2%;
}

#logo {
    font-weight: bold;
    padding: 1%;
}

#blog-container {
    border-style: solid;
    border-color: #4e342e;
}